$fundobarralateral: #353535;
$fundomenutopo: #353535;
$fundologo: #282828;
$cortxtmessages: #7a7a7a;
$corbordasettings: #fc4236;
$corbordaanalytics: #ddbe10;
$corbordamessages: #09aac7;
$corbordadashboard: #07c638;