$corprincipal: #f6f6f6;
$corbarralateral: #353535;
$cormenutopo: #353535;
$corfundologo: #282828;
$cortxtmessages: #7a7a7a;
$corbordasettings: #fc4236;
$corbordaanalytics: #ddbe10;
$corbordamessages: #09aac7;
$corbordadashboard: #07c638;
$corcirclelogin: #c4c4c4;