@import "../components/bootstrap/scss/bootstrap";
@import "../components/font-awesome/scss/font-awesome";

//Variaveis Personalizadas
@import "_custom-variables";

//Placeholders
@import "_custom-placeholders";

//Sidebar
.sidebar{//montar uma media querie para landscape
	
	width: 50%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -50%;
	z-index: 1000;

	background-color: $fundobarralateral;

	&.is-active{
		
		left: 0;

		&:after{
			
			content: "";
			width: 50%;
			position: fixed;
			top: 0;
			left: 50%;
			bottom: 0;
			z-index: 900;

			background-color: rgba(0,0,0,.4);
		}
	}
}

.nav{
	
	display: flex;
	flex-direction: column;

	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
    	-webkit-padding-start: 0;

	.nav-dashboard{

		padding: 8px 0;
		border-bottom: 1px solid $fundologo;
		border-left: 2px solid $corbordadashboard;
		position: relative;

		.fa-caret-left{

			display: none;
		}

		&:hover{

			background-color: lighten($fundologo, 10);

			.fa-caret-left{

				display: block;
				position: absolute;
				top: 40%;
				right: 0;
				font-size: 1.5rem;

				color: #fff;
			}	
		}
	}

	.nav-messages{

		padding: 8px 0;
		border-bottom: 1px solid $fundologo;
		border-left: 2px solid $corbordamessages;
		position: relative;

		.fa-caret-left{
		
			display: none;
		}

		.circ-msg{

			width: 30px;
			height: 30px;
			position: absolute;
			left: 40px;
			top: 10px;
			

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 50%;
			color: #fff;
			background-color: $red;
		}
		
		&:hover{

			background-color: lighten($fundologo, 10);

			.fa-caret-left{

				display: block;
				position: absolute;
				top: 40%;
				right: 0;
				font-size: 1.5rem;
				color: #fff;
			}	
		}
	}

	.nav-analytics{

		padding: 8px 0;
		border-bottom: 1px solid $fundologo;
		border-left: 2px solid $corbordaanalytics;
		position: relative;

		.fa-caret-left{
		
			display: none;
		}

		&:hover{
	
			background-color: lighten($fundologo, 10);

			.fa-caret-left{

				display: block;
				position: absolute;
				top: 40%;
				right: 0;
				font-size: 1.5rem;
				color: #fff;
			}	
		}
	}

	.nav-settings{

		padding: 8px 0;
		border-bottom: 1px solid $fundologo;
		border-left: 2px solid $corbordasettings;
		position: relative;

		.fa-caret-left{

			display: none;
		}

		&:hover{

			background-color: lighten($fundologo, 10);

			.fa-caret-left{

				display: block;
				position: absolute;
				top: 40%;
				right: 0;
				font-size: 1.5rem;
				color: #fff;
			}	
		}
	}


	.nav-link{

		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		font-size: 1.2rem;

		color: $cortxtmessages;

		.fa{
			
			font-size: 2.8em;
		}

		&:hover{

			color: #fff;
		}
	}
}

.logo{

	text-align: center;
	padding: 1em;

	background-color: $fundologo;
}